## Python Class notebook Lecture 1-4

This notebook will go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Printing / Print formating
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* functions
* map and filter
____

## Data Types

#### Numbers

1,2,3,4,5,6  -- Integers

1.2 , 1.5 , 56.82  -- Float 

* **No Type Declaration in Python**
* **No Type Casting required**

In [4]:
a = 10
b = 3

In [5]:
c = a/b

In [6]:
c

3.3333333333333335

In [6]:
type(c)

float

In [8]:
## Variable assignment
a = 10
b = 3

In [10]:
c = a/b

In [7]:
hello = 1000

### Operations on Numbers

* Arthematic Operations
* Logical Operations
* comparison Operation

In [12]:
2+3

5

In [13]:
34-2

32

In [14]:
3*5

15

In [15]:
10/3

3.3333333333333335

In [15]:
10//3  ## floor division (it will only return integer part after division)

3

In [10]:
10%2  ## modulo ## Remainder

0

In [11]:
31%4

3

In [14]:
2**4 ## Exponent

16

### Logical Operation

* All logical operation will result Boolean value.

In [16]:
4>3

True

In [19]:
415<10

False

In [28]:
4>=4

True

In [29]:
1<= 10

True

In [30]:
1 != 2

True

## Comparision Operation

==  comparision

In [11]:
a = 100

In [12]:
b = 10

In [13]:
a == b

False

In [22]:
1 == 1

True

In [42]:
True == 1

True

In [36]:
False == 0

True

### Boolean 

* True
* False

## Strings

* String Declaration

1st Way

In [15]:
s = 'Hello'   ## single quote

2nd Way

In [17]:
t = "Hello World It's Sunday" ## double quote

3rd Way

In [18]:
u = '''
Hello All
This is a Data Science class
Good Afternoon!!
'''

* String Traversal

In [19]:
t = "Hello World It's Sunday Good Afternoon!!"

In [22]:
t[2]

'l'

In [24]:
t[6:11]

'World'

## String methods

In [3]:
t = "Hello World It's Sunday Good Afternoon!! Hello@"

In [2]:
t.split()  ## Spliting the string on white spaces

['Hello', 'World', "It's", 'Sunday', 'Good', 'Afternoon!!', 'Hello@']

In [27]:
t.split('Hello')

['', " World It's Sunday Good Afternoon!! ", '@']

In [28]:
t.count('o') ## count the occurances of substring in the main string

7

In [52]:
t.endswith('Hello@')

True

In [31]:
t.isdigit()

False

In [48]:
t = '''
hello world it's sunday good afternoon!!

this is another line

'''

In [49]:
t.islower()

True

## List

**List is a hetrogenious collection of data**

In [18]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [4]:
l2 = ['A','B','C',1,2,3,4,5,6]

How to retrieve data

In [17]:
l2[-2:]

[5, 6]

In [19]:
l1[:]   ## default value for start index is the 0th index , end index + 1 and step size == 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
l1[::-1]   ## Traversing the list in reverse order

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

l[start index : end index + 1 : step size]

In [66]:
l2 = [1,2,3,4,5,6,'a','b']

In [37]:
l2[-1]

6

In [69]:
l2[-6]

3

In [70]:
l2[-1:-4:-1]

['b', 'a', 6]

### Methods on List

In [23]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* Append Method insert the data at the end of the list

In [24]:
l1.append(11)

* Insert method will insert the data at specific index position.

In [25]:
l1.insert(5,"All")

In [26]:
l1

[1, 2, 3, 4, 5, 'All', 6, 7, 8, 9, 10, 11]

* Pop --> delete from the end

In [27]:
l1.pop()

11

In [28]:
l1

[1, 2, 3, 4, 5, 'All', 6, 7, 8, 9, 10]

In [63]:
l1 = [121,1,2,3,4,5,6]
l1.sort(reverse=True)

In [67]:
l1.reverse()

In [31]:
l1.index(6)

5

In [29]:
l1.remove('All')

In [30]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Nested List

In [33]:
l  = [1,2,3,['Hello','All']]

In [35]:
l[3][1]

'All'

In [44]:
l1 = ['Hello','All', ['Cool']    ]

In [45]:
l  = [1,2,3,l1 ]

In [48]:
l

[1, 2, 3, ['Hello', 'All', ['Cool']]]

In [47]:
l[3][2][0]

'Cool'

In [111]:
l  = [1,2,3,[4,5,6, "Hello"] ]

In [56]:
lst = [1,2,0,[3,4],[5,0,[100,200,300, 400,['hello']],23,11],1,7]

In [58]:
lst[4][2][1:3]

[200, 300]

## Dictionary

In [87]:
d = {'Key1': [1,2,3,4,5] , 'Key2': [6,7,8,9,10]}

In [74]:
d1 = {'K1':[1,2,3,4] , 'K2':[5,6,7,8]}

In [72]:
d1

{'K1': [1, 2, 3, 4], 'K2': [5, 6, 7, 8]}

In [154]:
d1 = {'India':['MH','HP','CG'] , 'US':['NY','AK']}

##  Dictionary methods

In [83]:
d1.keys()

dict_keys(['India', 'US'])

In [84]:
d1.values()

dict_values([['MH', 'HP', 'CG'], ['NY', 'AK']])

In [85]:
d1.items()

dict_items([('India', ['MH', 'HP', 'CG']), ('US', ['NY', 'AK'])])

## Insert key , value in the dictionary

In [155]:
d1

{'India': ['MH', 'HP', 'CG'], 'US': ['NY', 'AK']}

In [157]:
d1['China'] = ['BJ','Sh']

In [158]:
d1

{'India': ['MH', 'HP', 'CG'], 'US': ['NY', 'AK'], 'China': ['BJ', 'Sh']}

In [159]:
d1['Australia'] = []

In [160]:
d1

{'India': ['MH', 'HP', 'CG'],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': []}

In [161]:
d1['Australia'].append('CR')

In [162]:
d1['Australia'].append('SYD')

In [163]:
d1

{'India': ['MH', 'HP', 'CG'],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CR', 'SYD']}

In [164]:
d1['India'].insert(1,'KL')

In [165]:
d1

{'India': ['MH', 'KL', 'HP', 'CG'],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CR', 'SYD']}

## Nested Dictionary

In [178]:
countries = {'India': [{'MH':['Pune','Mumbai','Nasik']}, 'KL', 'HP', 'CG', 
                       {'MP':['Indore','Bhopal','Jabalpur']}],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CB']}

In [215]:
countries['India'][0]['Vidarbha'] = ['Nagpur','Bhandara']

In [218]:
countries['India'][0]['MH'][1] = 'Lonavala'

In [219]:
countries

{'India': [{'MH': ['Pune', 'Lonavala', 'Nasik'],
   'Vidarbha': ['Nagpur', 'Bhandara']},
  'KL',
  'HP',
  'CG',
  {'MP': ['Indore', 'Bhopal', 'Jabalpur']}],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CB']}

In [177]:
countries['India'][0]['MH'][2]

'Nasik'

In [106]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [112]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

## Tuples

###### This is immutable

* It cannot be changed or updated.
* Cannot delete any element for tuples.

In [113]:
t = (1,2,3,4,5,6)

In [114]:
type(t)

tuple

In [180]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [117]:
l3 = [('Jan',1),('Feb',2),('Mar',3)]

In [181]:
l3[0]

('Jan', 1)

## Set

set theory --> Venn diagram

* It stores only unique value. 
* It return data in sorted order.

* Union
* Intersection

In [182]:
s = {1,2,2,2,2,2,3,4,5,6,6,7,7,8,8}

In [183]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [184]:
s1 = {99,23,46,1,0,56,23,1,0}

In [185]:
s1

{0, 1, 23, 46, 56, 99}

In [186]:
l1 = [1,2,1,3,5,6,8,9,9]
l2 = [1,3,5,7,9,10]

In [190]:
result = set(l1) - set(l2)

In [192]:
list(result)

[8, 2, 6]

In [189]:
set(l1).intersection(set(l2))

{1, 3, 5, 9}

## Printing --> Print formating

Use **.format** command to print the value of a variable a specific position inside the string.

In [194]:
print('Hello')

Hello

In [126]:
print("hello all my lucky number is :",10)

hello all my nucky number is : 10

In [196]:
a = 10 
print("hello all my lucky number is :",a)

hello all my lucky number is : 10

In [199]:
a = '8th August 2020'
print("Today's date is {} its a lucky  day for me".format(a))

Today's date is 8th August 2020 its a lucky  day for me

In [212]:
a = [10,1,11,1]
b = 'Ram'

In [213]:
print("Hello my name is {} and my age is {}".format(b,a))

Hello my name is Ram and my age is [10, 1, 11, 1]

In [206]:
print("Hello my name is {} and my age is {}".format(a,b))

Hello my name is 10 and my age is Ram

In [207]:
print("Hello my name is {a} and my age is {b}".format(a = a,b=b))

Hello my name is 10 and my age is Ram

## If - else

In [3]:
if 2 < 3:   
    print('Hello')
    print("World")

Hello
World

In [5]:
if 2 > 3:   
    print('Hello')
    print("World")
elif (1 == 1): 
    print("Good Bye")

Good Bye

In [6]:
if 2 > 3:   
    print('Hello')
    print("World")
else: 
    print('Bye')

Bye

In [7]:
if 2 > 3:   
    print('Hello')
    print("World")
elif (3 == 1): 
    print("Good Bye")
elif 3 ==3:
    print('Have a great day')
else: 
    print('Bye')

Have a great day

In [235]:
if 2 > 3:   
    print('Hello')
    print("World")
elif (3 == 1): 
    print("Good Bye")
elif 3 ==3:
    print('Have a great day')
else: 
    print('Bye')
        
print("This will be considered outside the if block")

Have a great day
This will be considered outside the if block

## How to take user input

In [9]:
a = input("Please enter a number")

Please enter a number23

***Write a program to check number is even or Odd ?***

In [10]:
a = int(a)

In [12]:
if a%2 == 0:
    print("The number {} is even".format(a))
else:
    print("The number {} is odd".format(a))

The number 23 is odd

***Write a program to check the divisibility of a number by 2 and  3 and 6***

In [20]:
a = input("Please enter a number")
a = int(a)

Please enter a number24

**Bitwise operator**
 * Chained operations can be performed using Bitwise operator.

    * & --> and

    * | --> or

In [22]:
if (a%2 == 0) & (a%3 == 0) :
    print("The number {} is divisible by 2 ,3 and 6".format(a))
elif a%2 == 0:
    print("The number {} is divisible by 2".format(a))
elif a%3 == 0:
    print("The number {} is divisible by 3".format(a))
else:
    print("Number {} is not divisible by 2 or 3 or 6".format(a))

The number 24 is divisible by 2 ,3 and 6

### Nested If-else

In [270]:
x = int(input("Enter a number."))

if x%2 == 0:
    if x < 10:
        print(x, "is an even number which is less than 10")
    else:
        print(x, "is an even number greater than 10")
else:
    if x < 10:
        print(x, "is an odd number which is less than 10")
    else:
        print(x, "is an odd number greater than 10")

Enter a number.1
1 is an odd number which is less than 10

## Lecture 4. Topics
   * Range
   * For loop over (list / string / tuples / dictionary) and Nested for loop
   * While loop
   * Functions

## Range

In [26]:
## Range will generate sequnece of numbers

In [25]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [27]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
#list(range(10,20,2))

[10, 12, 14, 16, 18]

In [32]:
#list(range(1,100,2))

In [34]:
l = list(range(10,20))
l

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

## For loop

NO MORE INITIALIZATION/ TERMINATION / INCREMENT in Python.

#### For loop over a list

In [38]:
for i in l[::2]:   ## i is defined as iterator and l --> sequence
    print(i)

10
12
14
16
18

In [47]:
even = []
odd = []
for i in range(50,1):
    print(i)
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

#### for loop over a string

In [53]:
s = "Hello all, this is a 'Data science' class!!!!"

**Write a program to remove all the punctuation from a string using for loop.**

In [63]:
import string
a = string.punctuation

In [64]:
a

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [65]:
str1 = ''
for i in s:
    if i in a:
        pass
    else:
        str1 = str1 + i
        #print(str1)

In [66]:
str1

'Hello all this is a Data science class'

#### for loop over a tuple

In [72]:
t = (1,2,3,4)

In [73]:
for i in t:
    print(i)

1
2
3
4

In [1]:
lst = [(1,2) , (3,4) , (5,6) , (7,8)]

In [2]:
for i , j  in lst:
    print(i,":",j)

1 : 2
3 : 4
5 : 6
7 : 8

#### Tuple unpacking

In [79]:
l = []
for i , j  in lst:
    print(i)
    print(j)
    l.append(i)
    l.append(j)

1
2
3
4
5
6
7
8

In [80]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

#### Enumerate method

In [3]:
month = ['Feb','Mar','Apr','May','June']

In [4]:
month = list(enumerate(month , start = 2))

In [5]:
for index , data in month:
    print(index)
    print(data)

2
Feb
3
Mar
4
Apr
5
May
6
June

#### for loop over a dictionary

In [87]:
d = {'k1':[1,2,3],'k2':[2,3,4],'k3':[3,4,5,6,7,8,9,10]}

In [89]:
d.values()

dict_values([[1, 2, 3], [2, 3, 4], [3, 4, 5, 6, 7, 8, 9, 10]])

In [90]:
d.items()

dict_items([('k1', [1, 2, 3]), ('k2', [2, 3, 4]), ('k3', [3, 4, 5, 6, 7, 8, 9, 10])])

In [107]:
sum1 = 0
for key , value in d.items():
    print(key)
    sum1 = sum1 + value[-1]

k1
k2
k3

### Nested for loop

**Write a program find out the sum of all the elements of dictionary d.**

In [102]:
d

{'k1': [1, 2, 3], 'k2': [2, 3, 4], 'k3': [3, 4, 5, 6, 7, 8, 9, 10]}

In [105]:
sum = 0
for key , value in d.items():
    
    for item in value:
        sum = sum + item

In [106]:
sum

67

#### for loop over a set

In [108]:
s = {1,1,1,1,2,34,5,6,77,8,9}

In [109]:
s

{1, 2, 5, 6, 8, 9, 34, 77}

In [110]:
for i in s:
    print(i)

1
2
34
5
6
8
9
77

In [2]:
d = {'Physics':82 , 'Math':65 , 'history': 75}

In [19]:
t = list(d.values())
t.sort()
minimum = t[0]
for key , value in d.items():
    if value == minimum:
        print(key)
        break

## Function

In [22]:
def addition(x,y):
    '''
    This is called as Docstring
    This is just the description of the function
    Input/ Out
    '''
    print("Have a great day")
    return x+ y

In [42]:
def list_addition(lst):
    return lst[0]+ lst[1]

In [43]:
list_addition([1,1,1,1,1])

2

**Write a function that accept a list as an input and it should return sum of all the elements of the list.**

In [53]:
user_input = input("Please enter a list")

Please enter a list1 2 3 4 5 6 7 8

In [56]:
user_input = user_input.split()
out = []
for i in user_input:
    out.append(int(i))

In [ ]:
lst1 = [1,2,3,4,5,6]
lst2 = [6,6,5,4,3,22,1]
#result = list_addition(lst1 , lst2)

In [47]:
list_sum = list_addition([1,2,4,5,7,9,00,1,11,55])

In [25]:
a = addition(20,53)

Have a great day

In [26]:
a

73

In [115]:
addition("Hello","World")

'HelloWorld'

**Write a function to check if a number is Prime.**

In [37]:
def find_prime(x):
    y = x-1
    while y > 2: 
        if x%y == 0:
            print("it's not a prime number")
            break
        y = y-1 
    
    print(y)
    if y == 2:
        print("Number is a prime number")

In [38]:
x  = int(input("Please enter a number"))

Please enter a number23

In [39]:
find_prime(x)

2
Number is a prime number

## Map / Filter / Reduce

* Map

    * Mapping a function with a sequence.
    * It will return the output for each input.

In [91]:
def multiply(x):
    return x*2

In [92]:
list(map(multiply , [1,2,3,4,5,6]))

[2, 4, 6, 8, 10, 12]

* Filter
    * Filetring the values based on the input sequence.
    * Out should always be from the same input list.

In [94]:
def is_even(x):
    if x%2 == 0:
        return x
    
list(filter(is_even , [1,2,3,4,5,6]))

[2, 4, 6]

* Reduce

    * It takes list as an input a it return single output.
    * Reduce method is present inside functools package.

In [99]:
from functools import reduce
lst =[47,11,42,13,13]

def sum(x,y):
    return x+y

def find_min(x,y):
    if x < y:
        return x
    else:
        return y

reduce(sum,lst)

126

In [100]:
reduce(find_min,lst)

11